---
---

//@import "{{ site.theme }}";

code {
    background-color: #f1f1f1;
}
body {
  background: #105071 url(../../assets/img/penrose.0b7d9eff.png) center center;
}
.wrapper {
  border-bottom:30px #0e7757 solid;
}

$animation-speed-very-slow: 500ms;
$animation-speed-slow: 400ms;
$animation-speed-normal: 300ms;
$animation-speed-fast: 200ms;
$animation-speed-very-fast: 100ms;

$animation-timing-function: ease;

@keyframes ds-u-animate-fade--in {
  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ds-u-animate-fade--in {
    animation-name: ds-u-animate-fade--in;
    animation-duration: $animation-speed-fast;
}

.ds-u-animate-speed--very-slow {
    animation-duration: $animation-speed-very-slow;
  }
.ds-u-animate-speed--slow {
  animation-duration: $animation-speed-slow;
}
.ds-u-animate-speed--normal {
  animation-duration: $animation-speed-normal;
}
.ds-u-animate-speed--fast {
  animation-duration: $animation-speed-fast;
}
.ds-u-animate-speed--very-fast {
    animation-duration: $animation-speed-very-fast;
  }